@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-list {
    padding: 0 16px;

    @include desktop {
        display: flex;
        width: 40%;
        justify-content: flex-end;
    }

    h4 {
        color: $silver;
        font-weight: 600;
    }

    &--thumbnail {
        img {
            width: 150px;
            height: 100px;
            aspect-ratio: 1;
            border-radius: 4px;
            background-color: $mercury;
        }
    }

    &--details {
        padding: 0 10px;
    }
}