@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.comment-form {
    font-family: inherit;
    display: flex;
    gap: 1rem;
    color: $silver;

    @include desktop {
        display: flex;
    }

    
    &__input {
        @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    }

    &__button {
        color: $white;
        background-color: $brainflix-blue;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        background-image: url(../../assets/images/add_comment.svg);
        background-repeat: no-repeat;
        margin: 10px 0;
        border: none;
        font-family: inherit;

        @include tablet {
            position: relative;
            width: 250px;
        }
      
    }

    &__box {
        width: 100%;
        height: 100px;
        font-family: inherit;

        @include tablet {
            height: 30px;
            width: 300px;
        }
    }

    &__avatar {
        border-radius: 50%;
        height: 36px;
        width: 40px;
    }
}

.placeholder {
    position: absolute;
}