@use "../../styles/partials/variables.scss" as *;



.comment-form {
    font-family: inherit;
    display: flex;
    gap: 1rem;
    color: $silver;

    &__button {
        color: $white;
        background-color: $brainflix-blue;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        background-image: url(../assets/images/upload.svg);
        background-repeat: no-repeat;
        margin: 10px 0;
    }

    &__box {
        width: 100%;
        height: 100px;
        font-family: inherit;
    }

    &__avatar {
        border-radius: 50%;
        height: 36px;
        width: 40px;
    }
}

.placeholder {
    position: absolute;
}