// Screen size breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Primary Colours
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;

// Secondary Colours
$brainflix-darkBlack: #000000;
$brainflix-darkBlue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;