@use "../../styles/partials/variables.scss" as *;

.video-item {
    &__thumbnail {
        gap: 1rem;
        img {
            width: 150px;
            height: 90px;
            border-radius: 4px;
            background-color: $mercury;
        }

    }
    &__title {
       font-weight: 600;
    }

}