@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.comment {
    padding: 0 16px;
    font-size: 1rem;

    @include desktop {
        width: 100%;
    }

    &__placeholder {
        background-color: $mercury;
        border-radius: 50%;
        height: 36px;
        width: 40px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-weight: 600;
        font-size: 1rem;
    }

    &__date {
        display: flex;
        color: $silver;
    }

    &__content-header {
        display: flex;
        justify-content: space-between;
        padding-left: 3rem;
        position: relative;
        bottom: 45px;

        @include tablet {
            position: relative;
            bottom: 45px;
        }

        @include desktop {
            width: 90%;
        }
    }

    &__content {
        padding-left: 3rem;
        position: relative;
        bottom: 45px;

        @include tablet {
            position: relative;
            bottom: 40px;
        }

        @include desktop {
            width: 100%;
        }
    }
}