@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.upload-form {
    padding: 0 16px;

    &__thumbnail {
        width: 100%;
    }

    &__title {
        color: $silver;
        font-weight: 600;
    }

    &__input {
        font-family: inherit;
        background-color: $alabaster;
        border-radius: 4px;
        padding: 12px;
        margin-bottom: 1rem;
        border: 1px solid $mercury;
        width: 97%;

        :active {
            border: 2px solid $brainflix-blue;
        }

        @include tablet {
            padding: 16px;
        }

        &-title {
            height: 36px;
        }

        &-desc {
            height: 100px;
        }
    }

    &__button {
        width: 100%;
        margin-bottom: 1rem;
        height: 40px;
        font-family: inherit;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 4px;
        border: none;

        @include tablet {
            width: 150px;
        }

        &--upload {
            background-color: $brainflix-blue;
            color: white;
            background-image: url("../../assets//images/publish.svg");
            background-repeat: no-repeat;
            background-position: 10px center;
        }

        &--cancel {
            background-color: white;
            color: $brainflix-blue;

        }
    }
}