@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.upload-form {
    padding: 0 16px;

    @include tablet {
        padding: 0 3rem;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-wrap: wrap;
        }
    }

    &__thumbnail-container {
        @include desktop {
            width: 50%;

        }

    }

    &__inputs {
        @include desktop {
        }
    }

    &__thumbnail {
        width: 100%;
        margin-bottom: 1rem;

        @include tablet {
            width: 60%;
        }

        @include desktop {
            width: 100%;
        }
    }

    &__title {
        color: $silver;
        font-weight: 600;

        &--label {
            display: flex;
            color: $silver;
            font-weight: 600;

            @include tablet {
                font-size: 0.75rem;
            }
        }

        &--desc {
            display: flex;
            color: $silver;
            font-weight: 600;

            @include tablet {
                font-size: 0.75rem;
            }
        }
    }

    &__input {
        font-family: inherit;
        background-color: $alabaster;
        border-radius: 4px;
        padding: 12px;
        margin-bottom: 1rem;
        border: 1px solid $mercury;
        width: 97%;

        @include tablet {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &-title {
            height: 36px;

            @include tablet {
                height: 20px;
            }
        }

        &-desc {
            height: 100px;

            @include tablet {
                height: 60px;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;


    }

    &__button {
        width: 100%;
        margin-bottom: 1rem;
        height: 40px;
        font-family: inherit;
        font-weight: 600;
        font-size: 1rem;
        border-radius: 4px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            width: 175px;
        }



        &--upload {
            background-color: $brainflix-blue;
            color: white;
            background-image: url("../../assets//images/publish.svg");
            background-repeat: no-repeat;
            background-position: 10px center;
        }

        &--cancel {
            background-color: white;
            color: $brainflix-blue;

        }
    }
}