@use "../../styles/partials/variables" as *;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;

    &__row-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    &__search-bar {
        height: 40px;
        min-width: 240px;
        background-image: url(../assets/images/search.svg);
        border: 1px solid $mercury;
        border-radius: 4px;
        padding-left: 30px;
        background-repeat: no-repeat;
        font-family: "Avenir";
    }

    &__avatar-img {
        border-radius: 50%;
        height: 36px;
        width: 40px;
    }

    &__button {
        color: $white;
        background-color: $brainflix-blue;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        background-image: url(../assets/images/upload.svg);
        background-repeat: no-repeat;
        margin: 10px 0;
    }
}

button:hover {
    background-color: $brainflix-darkBlue;
}

input:active {
    border: 2px solid $brainflix-blue;
}
