@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    padding: 0px 16px;
    
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
    }


    &__row-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }

    &__search-bar {
        height: 40px;
        min-width: 240px;
        background-image: url(../../assets/images/search.svg);
        background-position: 10px center;
        border: 1px solid $mercury;
        border-radius: 4px;
        padding-left: 30px;
        background-repeat: no-repeat;
        font-family: inherit;

        :active {
            border: 2px solid $brainflix-blue;
        }
    }

    &__avatar-img {
        border-radius: 50%;
        height: 36px;
        width: 40px;

        @include tablet {
            position: relative;
            left: 250px;
        }
    }

    &__button {
        font-family: inherit;
        font-weight: 600;
        color: $white;
        background-color: $brainflix-blue;
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 4px;
        background-image: url(../../assets/images/upload.svg);
        background-position: 10px center;
        background-repeat: no-repeat;
        margin: 10px 0;

        @include tablet {
            width: 200px;
            position: relative;
            right: 80px;
        }


    }
}

button:hover {
    background-color: $brainflix-darkBlue;
}

input:active {
    border: 2px solid $brainflix-blue;
}