@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.video-details {
    display: flex;
    gap: 2rem;
    border-top: 1px solid $mercury;

    @include tablet {
        border-top: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__col-1 {
        @include tablet {
            display: flex;
            flex-direction: row;
        }
    }

    &__col2 {
        @include tablet {
            display: flex;
            flex-direction: row; 
        }
    }

    h4 {
        font-weight: 600;
    }

    &__img {
        width: 100%;

        @include desktop {
            width: 100%;
            height: 500px;
        }
    }

    &__views {
        color: $silver
    }

    &__likes {
        color: $silver
    }

    &__time {
        color: $silver
    }

    &__views {
        display: flex;
        gap: 1rem;
    }

    &__likes {
        display: flex;
        gap: 1rem;
    }
}