@use "../../styles/partials/variables.scss" as *;

.video {
    &-details {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__img {
            width: 100%;
        }

        &--views {
            color: $silver
        }

        &--likes {
            color: $silver
        }

        &--time {
            color: $silver
        }
    }
}